<img src='image/mypicture'/>
John Crocker is interested in the power of Front End Engineering to help bring
to life data in ways that make information approachable and understandable
to everyone. To that end, John went to The Iron Yard and gained experience in:
<br>
<li>HTML</li>
<li>git</li>
<li>Javascript</li>
<li>Angularjs</li>
<li>Backbonejs</li>
<li>data-driven documents (d3js)</li>
<li>Parse</li>
<li>css/sass</li>
<br>

You can see examples of John's work on his <a href='#/portfolio'>portfolio page</a>.

<h3>Prior Experience and Education</h3>
<p>Prior to The Iron Yard, John spent 10+ years working in the
  transportation planning and engineering sector including at the <a href='http://www.itsmarta.com'  target='_blank'>Metropolitan Atlanta Rapid Transit Authority (MARTA)</a>,
  the Transit Planning Board (TPB)- a joint-venture of MARTA, the <a href='http://www.atlantaregional.com' target='_blank'>Atlanta Regional Commission (ARC)</a>, and the
  <a href='http://www.grta.org' target='_blank'>Georgia Regional Transportation Authority (GRTA)</a>, and several private
  transportation consulting firms. John specialized in working on corridor analysis, organizational management and structure,
  performance measurements, real estate management, network analysis and Transit Oriented Development.

John has a variety of experience including:
<br>
<h3>Working in Teams</h3>
<li>Helping relaunch MARTA's <a href='http://www.bizjournals.com/atlanta/print-edition/2014/04/25/talented-team-directing-marta-s-transit-oriented.html' target='_blank'>Transit Oriented Development</a>
  program including coordinating large internal and external multi-disciplinary teams including real estate deveopers, legal, architecture, finance specialists, police, rail and bus operations, lobbyists, environmental specialist and other disciplines</li>
<li>Led a team of internal MARTA planning team and managed external constulting team on a $5 million Environmental Study for a 20-mile corridor, the <a href='http://www.itsmarta.com/I20-east-corr.aspx' target='_blank'>I-20 East Initiative</a> from 2009 through 2011</li>



    <br>
<h3>Public Speaking and Presenting</h3>
John has years of experience of presenting to the public and public officals. Among the more significant projects were:
<li>Speaking at a series of over 20+ meetings in 2008 regarding a potential <a href='library/TPB Public Engagement Report Final 12-18-08.pdf' target='_blank'>Regional Transit System</a></li>
<li>Provided public education support for a major sales tax referendum in 2011 and 2012 including pieces for <a href='http://www.news.emory.edu/stories/2012/04/er_atlanta_transportation_town_hall/campus.html' target='_blank'>print</a> and <a href='http://wabe.org/post/improving-marta-and-changing-mindset-about-public-transportation-what-transit-system-gains' target='_blank'>radio</a></li>
<li>Staff lead to a <a href='http://www.atlantaregional.com/about-us/board--committees/regional-transit-committee' target='_blank'>Working Committee</a> of 19 elected and appointed officials in 2009</li>
<li>Presenting at various conferences in the United States and Europe including the 2011 <a href='https://www.planning.org/cm/search/event/?EventID=17678' target='_blank'>American Public Transit Association Sustainability Conference</a>, the 2008 European Transportation Conference,



<br>
<h3>Data Analysis and Performance Measures</h3>
Several projects have involved significant amounts of data analysis and exploration of performance measures including:
<li>Estimating the economic impact of a <a href='http://pressamp.trb.org/conferenceinteractiveprogram/PresentationDetails.aspx?ID=35650&Email=' target='_blank'>Regional Transit System</a> in Atlanta</li>
<li>Helping establish the framework for the <a href='http://www.atlantaregional.com/transportation/transit/existing-regional-transit-system' target='_blank'>Regional Transit Database</a> that underpins the Regional GTFS feed for Atlanta</li>
Performance Measures
<li>Panel member on 2013/2014 Transit Cooperative Research Program (TCRP) Synthesis Topic J-07/SA-34 <a href='http://apps.trb.org/cmsfeed/TRBNetProjectDisplay.asp?ProjectID=3614' target='_blank'>Open Data: Challenges and Opportunities for Transit Agencies</a></li>
<br>
<br>
<h3>Organizational Anaylsis and Project Management</h3>
<li>As part of his <a href='https://smartech.gatech.edu/handle/1853/14648' target='_blank'>dissertation research</a>, John examined how organizations built, operate, and maintain infrastructure and services that cross
  political boundraries at the local, sub-national, and international levels. In particular, he examine inter-county transit systems, bridges across United States
  between states, and the Trans-European Network (TEN-T).</li>
<li>In 2005, John was part of a team helping the City of Roswell, GA determine how to optimise the organizational structure of the City's transportation department</li>
<li>During 2004-2005, John was part of a team helping the Georgia Department of Transportation (GDOT) determine <a href='http://trid.trb.org/view.aspx?id=746532' target='_blank'>best practices in managing consultants</a> as GDOT faced the challenge of a decreasing work force combined with outsourcing work that was previously performed in-house</li>
<br>
<br>
<h3>Professional Service, Awards, and Publications</h3>
Additionally, John  has the following publications, professional experience and awards:
<li>Member of the <a href='http://atlanta.uli.org/center-for-leadership/center-leadership-announces-class-2015/' target='_blank'>Urban Land Institute Center for Leadership</a> Class of 2015
<li><a href='http://www.amazon.com/Moving-Beyond-Boundaries-Organizations-Cross-Boundary/dp/3639433785' target='_blank'>Moving Beyond Boundaries (2007)</a></li>
<li>Member of the Transportation Research Board's <a href='http://www.trb.org/AP010/AP010.aspx' target='_blank'>Transit Management and Performance Committee AP010 (2008 to present)</a></li>
<li> 2005/2006 William J. Fulbright Grantee to <a href='http://www.news.gatech.edu/2005/09/09/fulbright-fellow-study-eu-transportation-issue' target='_blank'>European Union</a></li>
<li> Team member of International Transit Study Program in Fall 2010 examining <a href='http://www.tcrponline.org/PDFDocuments/TCRP_RRD_102.pdf' target='_blank'>Public Transportation Systems as the Foundation for Economic Growth</a></li>
<li> Transportation Research Record <a href='http://trid.trb.org/view.aspx?id=746532' target='_blank'>Best Practices in Consultant Management at State Departments of Transportation</a> (2004)</li>
