Welcome to JTC Analytics! Our goal is to utilize the power of existing data to help
make informed decisions on issues of transportation policy and planning. Some of the services we can provide include:
<ul>
  <li>Transit Planning including Corridor Analysis and FTA New and Small Starts Processes</li>
  <li>Transportation Benchmarking and Performance Measurements</li>
  <li>Transit Oriented Development Planning and Analysis including Request for Proposal Preparation</li>
  <li>Organizational Management for Transportation Agencies</li>
  <li>Incidental Use of Transit Properties</li>
  <li>Fare Policy Development</li>
  <li>Transit System Plan Development</li>
</ul>
