<h2>Transportation Planning Library</h2>

<p>This represents a cross section of various planning studies that are not
  generally found online. It is not meant to be a comprehensive focus, but
  does present public materials with a focus on transit planning efforts
  in Atlanta, Georgia. It also includes the work products of the
  Transit Planning Board - a joint effort of the Atlanta Regional Commission,
  Georgia Regional Transportation Authority, and the Metropolitan Atlanta Rapid
  Transit Authority from 2006 - 2008.</p>

  <ul class='library_title'>
    <div class='title_img'><h4><img src='images/TPB Logo ONLY.jpg'/>Transit Planning Board Final Reports</h4></div>
    <li><a href='library/TPB Final Technical Report - January 2009 - Small.pdf'>Final Report of the Transit Planning Board</a></li>
    <li><a href='library/121808 - FINAL Report on the Potential Impact of Regional Transit on Metropolitan Atlanta.pdf'>Estimated Impact of Concept 3 Transit System</a></li>
    <li><a href='library/TPB Public Engagement Report Final 12-18-08.pdf'>Final Report on Public Involvement of the TPB</a></li>
  </ul>

  <ul class='library_title'>
    <h4>Regional Transit Action Plan - GRTA 2003</h4>
    These are documents of the final report of the Regional Transit Action Plan developed by the Georgia Regional Transportation Authority (GRTA) completed
    in 2003. It includes the original proposal for the express bus routes that were implemented by GRTA starting in 2004 and the provide the basis for the GRTA
    Xpress routes that operate in the Atlanta region.
    <li><a href='library/RTAP/Table_of_Contents_Final.pdf' target='_blank'>Table of Contents</a></li>
    <li><a href='library/RTAP/RTAPChapter_one.pdf' target='_blank'>Chapter 1 - Setting</a></li>
    <li><a href='library/RTAP/RTAPChapter_two.pdf' target='_blank'>Chapter 2 - Public Involvement</a></li>
    <li><a href='library/RTAP/RTAPChapter_three.pdf' target='_blank'>Chapter 3 - Transit Needs Assessment</a></li>
    <li><a href='library/RTAP/RTAPChapter_four.pdf' target='_blank'>Chapter 4 - RTAP Planning Process</a></li>
    <li><a href='library/RTAP/RTAPChapter_five.pdf' target='_blank'>Chapter 5 - Concept Plan Action Status</a></li>
    <li><a href='library/RTAP/RTAPChapter_six.pdf' target='_blank'>Chapter 6 - Next Steps</a></li>
    <li><a href='library/RTAP/Ch_1_2.pdf' target='_blank'>Technical Report 2 - Existing Transit Service Inventory</a></li>
    <li><a href='library/RTAP/Ch_1_3.pdf' target='_blank'>Technical Report 3 - Review of Previous Transit and Transportation Studies</a></li>
    </li>
  </ul>

  <ul class='library_title'>
    <h4>MARTA Studies</h4>
    <li><a href='library/2002 MARTA BRT Corridor Identification Study.pdf' target='_blank'><div class='title_img'<img src='library/2002 MARTA BRT Corridor Identification Study.jpg'/>MARTA BRT Corridor Identification Study (2002)</div></a></li>
    <li><a href='library/2007 MARTA Infill - Report.pdf' target='_blank'>2007 MARTA Infill Station Report (2007)</a>
      <li><a href='library/2007 MARTA Infill - Appendix A - Station Profiles.pdf' target='_blank'>MARTA Infill Appendix A - Station Profiles (2007)</a></li>
      <li><a href='library/2007 MARTA Infill - Appendix B - Access Projects.pdf' target='_blank'>MARTA Infill Appendix B - Access Projects (2007)</a></li>
      <li><a href='library/2007 MARTA Infill - Appendix C - Supporting Documents.pdf' target='_blank'>MARTA Infill Appendix C - Supporting Documents (2007)</a></li>
    </li>
  </ul>


  <ul class='library_title'>
    <h4>Other Atlanta Transit Plans</h4>
    <li><a href='library/RL Banks Dec 2007 Commuter Rail.pdf' target='_blank'>Northwest Connectivity Study (1998)</a>: the Cumberland CID feasibility study of Midtown to Marietta rail line</li>
    <li><a href='library/RL Banks Dec 2007 Commuter Rail.pdf' target='_blank'>R.L. Banks Commuter Rail Study (2007)</a>: a feasibility study for commuter rail in Atlanta</li>
    <li><a href='library/April 2008 - TRU Plan.pdf' target='_blank'>Transit Riders Union Transit Plan for Atlanta (2008)</a></li>
    <li><a href='library/Decatur Belt Tech Final Report.pdf' target='_blank'>Decatur Belt Tech Final Report (2009)</a>: an examination of the NE Corridor of the Atlanta Beltline</li>
  </ul>

  <ul class='library_title'>
    <h4>Other Transit Planning Efforts</h4>
    <li><a href='library/Jacksonville Commuter Rail Feasibility Study.pdf' target='_blank'>Jacksonville Commuter Rail Study(2009)</a></li>
  </ul>
